* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--1-cols {
  grid-template-columns: repeat(6, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(3, 1fr);
}
.service-img-1 {
  background-image: url("/img/bg-service-1.png");
}
.service-img-2 {
  background-image: url("/img/bg-service-2.png");
}
.service-img-3 {
  background-image: url("/img/bg-service-3.png");
}
.service-img-4 {
  background-image: url("/img/bg-service-4.png");
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3498db;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
